@charset "UTF-8";

#main_title{
    margin: 0px 250px 0px 250px;
    height: 100px;
    display:flex;
    align-items:center;
}

#title {
    font-size: 55px;
    font-weight: bold;
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
}

#search_group{
    padding: 100px 250px 70px 250px;
}

#address_search{
    margin: 0 auto;
    position: relative;
    display: table;
    border-collapse: separate;
}

#input_search{
    width:380px;
    height:50px;
    font-size:30px;
}

#landing_search {
    font-size: 40px;
    display: flex;
    flex: 1;
    width: 100%;
    height: 600px;
    margin: 1px 2px 3px 4px
}

#landing_form {
    background-color: blue;
    width: 65%;
    height: auto;
    margin: 0 auto;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.landing_janre {
    color: black;
    width: 150px;
    height: 150px;
    background-color: #f5d682;
    border: 1px solid red;
    margin: 1px 2px 3px 4px
}

#search {
    font-size: 100px;
}

.search_janre {
    background-color: rgb(192, 192, 192);
    color: blue;
}

#last {
    background-color: rgb(192, 192, 192);
}

